html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}

h1 {
    grid-row: 1;
    margin: 0;
    padding: 12px 16px;
    background: #fff;
}

#map {
    grid-row: 2;
    width: 100%;
    height: 100%;
    min-height: 300px;
}