html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 12px 16px;
    background: #fff;
}

#map {
    height: 520px;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 55%;
}

.step {
    width: 20%;
}

.step img {
    width: 100%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#year-display {
    padding: 8px 16px;
    font-weight: 600;
}